html{
    width:100%;
    height:100%;
    overflow:hidden;
}
body{
    margin:0;
    overflow:hidden;
}
#ingreso{
    z-index:1;
    margin:0 auto;
    text-align:center;
}
#ingreso > video ,#interior > video{
    height:100vh;
    width:100vw;
}
#boton-ingreso-edif{
    width:11%;
    height:15%;
    cursor:pointer;
    background-color:transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -13%;
    margin-top: 1.5%;
    z-index: 4;
}

#interior{
    z-index:3;
    position:absolute;
    text-align:center;
    margin:0;
}

#boton-interior-edif{
    width:29%;
    height:13%;
    cursor:pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15%;
    margin-top: -13%;
    z-index: 2;
    display:none;
}
#boton-interior-edif2{
    width:29%;
    height:12%;
    cursor:pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15%;
    margin-top: -6.5%;
    z-index: 6;
    display:none;
}
#boton-interior-edif3{
    width:29%;
    height:12%;
    cursor:pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15%;
    margin-top: 0;
    z-index: 7;
    display:none;
}

/* Boton del iniciar en safari */
img{
    display:none;
    position: absolute;
    width: 100%;
    height:100%;
    vertical-align: middle;
}