@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

@font-face {
  font-family: 'NeoSansIntel';
  src: url('../fonts/NeoSansIntel.eot');
  src: url('../fonts/NeoSansIntel.ttf') format('truetype');
}
@font-face {
  font-family: 'NeoSansIntelLight';
  src: url('../fonts/NeoSansIntel-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'NeoSansIntelMediumItalic';
  src: url('../fonts/NeoSansIntel-MediumItalic.ttf') format('truetype');
}
body {
  font-family: 'NeoSansIntel';
  margin: 0;
  background-color:white;
  overflow-x: hidden;
}

/*----------Header-----------*/
header {
  top: 0;
  width: 100%;
  z-index: 100;
}
a{
  text-decoration:none;
}
#encabezado{
  width: 80vw;
  margin: 0 auto;
  overflow: hidden;
}
/*Lateral izquierdo*/
#titulo{
  width:40%;
  float:left;
}
#home {
  display: inline-block;
    width: 5.7%;
    vertical-align: top;
    margin-top: 3.7%;
}
#logo{
    width: 45%;
    margin-top: 0%;
    display: inline-block;
}
#titulo > h1 {
  font-size: 1.8vw;
  font-weight: 500;
  color: #2b8abf;
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'NeoSansIntelMediumItalic';
  vertical-align: top;
  display:inline-block;
  /*margin-top: 13vh;*/
}
#titulo > h1 span{
  font-size: 0.8vw;
  font-weight: 100;
  float:right;
}
#titulo > h2 {
    font-size: 1.1vw;
    color: #2b8abf;
    font-style: italic;
    margin: 0;
    transform: translateX(8.5vw);
    position: relative;
    margin-left: 25px; 
    width: auto;
    display: table-caption;
}
/*Lateral derecho*/
#menu-fijo {
  float: right;
  margin-top: 1.8%;
  margin-right: 5%;
}
#menu-fijo > div {
   display: inline-block;
    padding: 0 1vw;
    color: #1f4666;
    cursor: pointer;
    font-size: 1.1vw;
    font-weight: 100;
}
#menu-fijo > div:last-child{
  padding-right:0;
}
/*---------------------------*/

/*--Encabezado Conferencia --*/
#seccion-info{
  background-color:#213a62;
  margin-top:20px;
}
#contenedor-info{
  margin:0 auto;
  color:white;
  width:80vw;
  padding-top:0.5%;
  padding-bottom:0.6%;
  overflow:hidden;
}
#info-conferencia{
  float:left;
}
#info-conferencia > h1{
  font-size: 1.8vw;
  margin:0;
}
#info-conferencia >h2{
  font-size: 1.5vw;
  font-weight:100;
  margin:0;
  margin-top:0.4%;
}
#terapia{
  float: right;
  margin-right: 10%;
}
#nombre-terapia{
  float: left;
  font-size: 48px;
}
#nombre-terapia>h1{
  font-family: 'NeoSansIntelLight';
    font-size: 3vw;
    margin: 0;
    font-weight: 100;
    margin-top: 3%;
    margin-right: 2.8vw;
  
}
#terapia > img{
 position: absolute;
 width: 8%;
 margin-top: -2%;
}
/*---------------------------*/
/**/

.muestra-congresos {
  position: relative;
  margin: 0 auto;
  width: 80vw;
}
.muestra-congresos > h1 {
  margin: 0;
  color: #2b8abf;
  font-family: 'NeoSansIntelLight';
  font-size: 2vw;
  display: inline-block;
  position: relative;
  top: -4vh;
}
/*.muestra-congresos > img {
  display: inline-block;
  height: 11vh;
  left: 1vw;
  top: 0vh;
  position: relative;
}
#present {
  display: inline-block;
  vertical-align: top;
  left: 2vw;
  position: relative;
}
#nombre-conferencia {
  font-weight: bold;
  font-size: 1.9vw;
  color: #2b8abf;
}
#presentador-conferencia {
  font-size: 1.5vw;
  color: #2b8abf;
  font-family: 'NeoSansIntelLight';
}*/
.muestra-congresos > video {
  display: block;
  width: 100%;
}

#pauta{
    width: 60%;
    float: left;
}
#pauta img{
  width:100%;
}
/*-------Calificacion-------*/
 #calificacion {
 float:right;
}
 #titulo-calificacion {
  font-size: 0.6vw;
  color: #58595b;
  margin-bottom:5.5%;
  text-align:center;
}
 #estrellas-calificacion {
  border-bottom: 1px solid #afafb0;
  padding-bottom: 2px;
  float:right;
}
 #estrellas-calificacion > img {
  width: 1.1vw;
}
 #total-promedio {
  color: #5f6062;
  display: inline-block;
  vertical-align: top;
  font-size: 2vw;
  margin-left: 1vw;
}
 #grupo-izquierda {
  display: inline-block;
  position: absolute;
  right: 0;
  text-align: right;
}
 #estrellas-promedio {
  display: inline-block;
  position: absolute;
  right: 0px;
  width: 5vw;
  margin-top:20%;
}
  #estrellas-promedio > img {
  width: 0.5vw;
  top: 0;
  vertical-align: top;
}
  #munequin {
  display: inline-block;
  height: 0.8vw;
  margin-top:55%;
}
  #cantidad-votantes {
  display: inline-block;
  font-size: 0.8vw;
}
/*---------------------------*/

#conferencia-navegacion{
  margin-top:2%;
}
#regresar,#siguiente{
    display: inline-block;
    color: white;
    font-family: 'NeoSansIntelLight';
    font-weight: bolder;
    padding: 0.3% 1.4% 0.5% 1.4%;
    width: auto;
    background-color: #213a62;
    border-radius: 9px;
    font-size: 1.4vw;
  
}
 #siguiente {
  float: right;
  position: relative;
  right: 30%;
}
.muestra-congresos > #conferencia-capitulos {
  position: absolute;
  left: 73%;
  top: 50%;
  width: 27%;
}
#contenedor-cap{
  display:none;
  width:36%;
}

#img-pauta{
  display:block;
}
.capitulos {
  color: #1f4666;
  font-size: 1.1vw;
  padding: 0.5vw 1vw;
  margin-bottom:0.2vw;
  width:100%;
  border:2px solid #1f4666;
  text-align:center;
}
.capitulo-activo{
  font-weight: bold;
  color: white;
  background-color:#1f4666;
}

/*Footer*/
footer {
  position: absolute;
  
  width:100%;
}
#med{
  float:left;
  background-image: -ms-linear-gradient(top, #e8e8e8 0%, #f6f6f6 100%);
  background-image: -moz-linear-gradient(top, #e8e8e8 0%, #f6f6f6 100%);
  background-image: -o-linear-gradient(top, #e8e8e8 0%, #f6f6f6 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e8e8e8), color-stop(1, #f6f6f6));
  background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #f6f6f6 100%);
  background-image: linear-gradient(to bottom, #e8e8e8 0%, #f6f6f6 100%);
}
.nombre-med{
  font-size: 1.2vw;
  font-weight: 900;
  display: inline-block;
  color: #2b8abf;
  text-align: center;
  padding: 0.3vw 4.5vw;
  box-sizing: border-box;
  margin: 0.7vw 0;
  border-right: 1px solid #d7d7d7;
}
/*#med > div:not(:last-child) {
  border-right: 1px solid #d7d7d7;
}*/

#logo-tq{
  float:right;
}
#logo-tq img{
  width:12vw;
  float:right;
  margin-bottom:0px;
}
.conf-activa {
  font-weight: bold;
}

/****Rating****/

fieldset{
  margin:0;
  padding:0;
}
 .full {
  margin: 0; 
  padding: 0; 
  font-size:0.8vw;
  margin-right:-2px;
}

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: 'FontAwesome';
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #808183;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #9b9b9b;  } 

@media (max-width:1024px){
  #contenedor-cap{
  width:45%;
}
 .full {
  margin-right:-4px;
  font-size:0.7vw;
}
}
